footer {
    background-color: #F5F5F5;
    border-top: 1px solid $blue_color;
    .footer-container {
        width: 1576px;
        margin: 0 auto;
        margin-top: 62px;
        background-color: #F5F5F5;
        .footer-top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-bottom: 72px;
            .footer-left-container {
                display: flex;
                flex-direction: row;
                height: max-content;
                .footer-col {

                }
            }
            .footer-right-container {
                .footer-col {

                }
            }
        }
        .footer-bottom {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $light_black;
            color: $white;
            height: 54px;
            p {
                position: relative;
                z-index: 1;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: $white;
                text-align: center;
            }
            &::after {
                position: absolute;
                content: "";
                display: block;
                width: 100vw;
                height: 54px;
                background-color: $light_black;
                top: 0;
                left: calc(((100vw - 1576px)/2)*(-1));
                z-index: 0;
            }
        }
    }
}

@media (max-width: 1280px) {
    footer {
        .footer-container {
            width: 100%;
            .footer-top {
                .footer-left-container {
                    .footer-col {
    
                    }
                }
                .footer-right-container {
                    .footer-col {
    
                    }
                }
            }
            .footer-bottom {

                p {

                }
                &::after {
                    display: none;
                }
            }
        }
    }
}