html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    &.open-modal {
        position: fixed;
        &::before {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            content: '';
            width: 100vw;
            height: 100vh;
            background-color: #505050b7;
            z-index: 10;
        }
    }
}

body.main #main-wrapper {
    background-color: #FFFFFF;
}

a {
    color: $blue_color;
    font-size: 16px;
    font-weight: 700;
    line-height: 180%;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

p {
    font-size: 16px;
    font-weight: 300;
    line-height: 180%;
}

#main-wrapper {
    width: 1576px;
    margin: 0 auto;
    position: relative;
    top: 0
}

section {
    margin: 40px auto 67px auto;
}

h1.mainpage-title {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
    margin: 35px 0;
    padding-left: 40px;
    span {
        color: $blue_color;
    }
    &::before {
        position: absolute;
        top: calc(50% - 9px);
        left: 0;
        content: '';
        width: 14px;
        height: 18px;
        display: block;
        background-color: $blue_color;
    }
}

@media (max-width: 1280px) {
    #main-wrapper {
        width: calc(100% - 32px);
        padding: 0 16px;
    }
}