.row__container {
    display: flex;
    flex-direction: row;
    aside {
        display: flex;
        flex-direction: column;
        width: 314px;
        margin-right: 20px;
    }
    .col_10__container {
        display: flex;
        flex-direction: column;
        width: 1240px;
    }
}