.article_title {
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    text-transform: uppercase;
    color: $title_black;
    margin: 0;
}
.article_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    .article_img_txt_box {
        &--img {
            display: flex;
            flex-direction: column;
            width: calc(48% - 20px);
            margin-right: 20px;
            img {
                object-fit: cover;
                width: 100%;
            }
        }
        &--text {
            display: flex;
            flex-direction: column;
            width: 48%;
            .title {
                font-size: 26px;
                font-weight: 600;
                line-height: 34px;
                color: $light_black;
                text-transform: none;
            }
            .desc {
                font-size: 18px;
                font-weight: 400;
                line-height: 160%;
                color: $light_black;
            }
        }
    }
    .article_txt_img_box {
        &--img {
            display: flex;
            flex-direction: column;
            width: 48%;
            img {
                object-fit: cover;
                width: 100%;
            }
        }
        &--text {
            display: flex;
            flex-direction: column;
            width: calc(48% - 20px);
            margin-left: 20px;
            .title {
                font-size: 26px;
                font-weight: 600;
                line-height: 34px;
                color: $light_black;
                text-transform: none;
            }
            .desc {
                font-size: 18px;
                font-weight: 400;
                line-height: 160%;
                color: $light_black;
            }
        }
    }
    .article_small_img_box {
        &--img {
            width: calc(24.5% - 20px);
            margin-right: 20px;
            &:last-of-type {
                margin-right: 0;
            }
            img {
                object-fit: cover;
                width: 100%;
            }
        }
    }
    .article_txt_img_img_box {
        &--text {
            width: 100%;
            .title {
                font-size: 26px;
                font-weight: 600;
                line-height: 34px;
                color: $light_black;
                text-transform: none;
            }
            .desc {
                font-size: 18px;
                font-weight: 400;
                line-height: 160%;
                color: $light_black;
            }
        } 
        &__images {
            display: flex;
            flex-direction: row;
            &--img {
                width: 48%;
                margin-right: 1%;
                &:last-of-type {
                    margin-left: 1%;
                }
                img {
                    object-fit: cover;
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 960px) {
    .article_title {
        font-size: 20px;
        line-height: 28px;
    }
    .article_container {
        .article_img_txt_box {
            &--text {
                .title {
                    font-size: 20px;
                    line-height: 38px;
                }
                .desc {
                    font-size: 14px;
                    line-height: 160%;
                }
            }
        }
        .article_txt_img_box {
            margin-bottom: 24px;
            &--text {
                .title {
                    font-size: 20px;
                    line-height: 38px;
                }
                .desc {
                    font-size: 14px;
                    line-height: 160%;
                }
            }
        }
         .article_small_img_box {
            &--img {
                width: 48%;
                margin-right: 1%;
                &:nth-of-type(2n) {
                    margin-right: 0;
                    margin-left: 1%;
                }
                img {
                    object-fit: cover;
                    width: 100%;
                }
            }
        }
        .article_txt_img_img_box {
            margin-bottom: 24px;
            &--text {
                .title {
                    font-size: 20px;
                    line-height: 38px;
                }
                .desc {
                    font-size: 14px;
                    line-height: 160%;
                }
            } 
        }
    }
}