.article_container {
    .title {
        font-size: 24px;
        font-weight: 600;
        line-height: 34px;
        text-transform: uppercase;
        color: $title_black;
        margin-top: 0;
    }
    .article_img_txt_box {
        display: flex;
        flex-direction: row;
        margin-bottom: 36px;
        &--img {
            margin-right: 20px;
            img {
                object-fit: cover;
            }
        }
        &--text {
            .title {
                font-size: 26px;
                font-weight: 600;
                line-height: 34px;
                color: $light_black;
                text-transform: none;
            }
            .desc {
                font-size: 18px;
                font-weight: 400;
                line-height: 160%;
                color: $light_black;
            }
        }
    }
    .article_txt_img_box {
        display: flex;
        flex-direction: row;
        margin-bottom: 36px;
        &--img {
            margin-left: 20px;
            img {
                object-fit: cover;
            }
        }
        &--text {
            .title {
                font-size: 26px;
                font-weight: 600;
                line-height: 34px;
                color: $light_black;
                text-transform: none;
            }
            .desc {
                font-size: 18px;
                font-weight: 400;
                line-height: 160%;
                color: $light_black;
            }
        }
    }
    .article_small_img_box {
        display: flex;
        flex-direction: row;
        margin-bottom: 36px;
        width: 100%;
        &--img {
            margin-right: 20px;
            &:last-of-type {
                margin-right: 0;
            }
            img {
                object-fit: cover;
            }
        }
    }
    .article_txt_img_img_box {
        display: flex;
        flex-direction: column;
        margin-bottom: 76px;
        width: 100%;
        &--text {
            width: 100%;
            .title {
                font-size: 26px;
                font-weight: 600;
                line-height: 34px;
                color: $light_black;
                text-transform: none;
            }
            .desc {
                font-size: 18px;
                font-weight: 400;
                line-height: 160%;
                color: $light_black;
            }
        } 
        &__images {
            display: flex;
            flex-direction: row;
            &--img {
                margin-right: 20px;
                &:last-of-type {
                    margin-right: 0;
                }
                img {
                    object-fit: cover;
                }
            }
        }
    }
}

@media (max-width: 1576px) {
    .article_container {
        .article_img_txt_box {
            &--img {
                width: 50vw;
                img {
                    width: 100%;
                }
            }
        }
        .article_txt_img_box {
            &--img {
                width: 50vw;
                img {
                    width: 100%;
                }
            }
        }
        .article_small_img_box {
            &--img {
                width: 25%;
                margin-right: 1%;
                img {
                    width: 100%;
                }
            }
        }
        .article_txt_img_img_box {
            &__images {
                &--img {
                    width: 50vw;
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: 760px) {
    .article_container {
        .article_img_txt_box {
            flex-direction: column;
            margin-bottom: 24px;
            &--img {
                margin-right: 0;
                width: 100%;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            &--text {
                .title {
                    font-size: 20px;
                    line-height: 38px;
                }
                .desc {
                    font-size: 14px;
                    line-height: 160%;
                }
            }
        }
        .article_txt_img_box {
            flex-direction: column;
            margin-bottom: 24px;
            &--img {
                width: 100%;
                margin-left: 0;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            &--text {
                .title {
                    font-size: 20px;
                    line-height: 38px;
                }
                .desc {
                    font-size: 14px;
                    line-height: 160%;
                }
            }
        }
        .article_small_img_box {
            flex-direction: column;
            margin-bottom: 24px;
            &--img {
                width: 100%;
                margin-right: 0;
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
        .article_txt_img_img_box {
            flex-direction: column;
            margin-bottom: 24px;
            &--text {
                .title {
                    font-size: 20px;
                    line-height: 38px;
                }
                .desc {
                    font-size: 14px;
                    line-height: 160%;
                }
            } 
            &__images {
                flex-direction: column;
                &--img {
                    width: 100%;
                    margin-right: 0;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
}