.seo_text_container {
  position: relative;
  margin-left: 9px;
  margin-bottom: 80px;
  background: #f8f9faff;
  padding: 64px 0;
  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 100vw;
    height: 100%;
    background: #f8f9faff;
    top: 0;
    left: calc(((100vw - 1576px) / 2) * (-1));
    z-index: -1;
  }
  .seo_title {
    font-size: 32px;
    line-height: 48px;
    font-weight: 500;
    color: #171a1fff;
    margin-bottom: 18px;
    span {
      color: $blue_color;
    }
  }
  .seo_desc {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #171a1fff;
    a {
      font-size: 14px;
      line-height: 22px;
      color: #171a1fff;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.category-seo-top-text {
  .title {
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 8px;
    margin-top: 0;
    @media (max-width: 760px) {
      font-size: 22px;
      line-height: 27px;
      margin-top: 8px;
    }
  }
  .description {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    margin-bottom: 27px;
    margin-top: 0;
    @media (max-width: 760px) {
      font-size: 13px;
      line-height: 19px;
      margin-bottom: 16px;
    }
  }
}

@media (max-width: 760px) {
  .seo_text_container {
    margin-left: 0;
    margin-bottom: 24px;
    .seo_title {
      font-size: 16px;
      line-height: 130%;
    }
    .seo_desc {
      font-size: 12px;
      line-height: 140%;
      a {
        font-size: 12px;
        line-height: 140%;
      }
    }
  }
}
