.cart_step_one_container {
    display: flex;
    flex-direction: row;
    margin-bottom: 228px;
    &__left {
        display: flex;
        flex-direction: column;
        margin-right: 23px;
        border: 1px solid $grey_light;
        box-sizing: border-box;
        width: 1096px;
        .cart_product_container {
            position: relative;
            width: 100%;
        }
        .upload_logo_notes_container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            border-top: 1px solid $grey_light;
            padding: 26px 35px 35px 35px;
            box-sizing: border-box;
            &__left {
                margin-right: 72px;
                .title {
                    p {
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        margin-bottom: 12px;
                        color: $grey_middle;
                        margin-top: 0;
                    }
                }
                .upload-area {
                    border: 1px dashed $blue_color;
                    width: 491px;
                    height: 113px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    &--img {
                        img {
                            object-fit: contain;
                        }
                    }
                    &--text {
                        p {
                            font-size: 10px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            margin: 0 0 14px 0;
                            text-align: center;
                            a {
                                text-decoration: none;
                                color: $blue_color;
                                font-size: 10px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: normal;
                            }
                        }
                    }
                    &--small-text {
                        p {
                            font-size: 8px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            margin: 0;
                            text-align: center;
                        }
                    }
                }
            }
            &__right {
                .title {
                    p {
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        margin-bottom: 17px;
                        color: $grey_middle;
                        margin-top: 0;
                    }
                }
                .text-area {
                    textarea {
                        border: 1px solid $grey_light;
                        padding: 12px;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        color: $blue_color;
                        width: 465px;
                        height: 113px;
                        max-width: 465px;
                        box-sizing: border-box;
                        &:hover,
                        &:focus {
                            outline: 1px solid $blue_color;
                        }
                    }
                }
            }
        }
    }
    &__right {
        .cart_pay_box {
            width: 457px;
            height: auto;
            border: 1px solid $grey_light;
            background-color: $grey_light3;
            padding: 32px 0;
            box-sizing: border-box;
            &__top {
                padding-bottom: 14px;
                &-slot {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 32px;
                    &--left {
                        p {
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            color: $light_black;
                            margin: 0 0 14px 0;
                        }
                    }
                    &--right {
                        p {
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            color: $light_black;
                            margin: 0 0 14px 0;
                        }
                    }
                }
            }
            &__bottom {
                border-top: 1px solid $grey_light;
                padding-top: 32px;
                &-slot {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 32px;
                    &--left {
                        p {
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            color: $light_black;
                            margin: 0 0 14px 0;
                        }
                    }
                    &--right {
                        p {
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            color: $light_black;
                            margin: 0 0 14px 0;
                            span {
                                font-size: 32px;
                                font-weight: 700;
                                color: $blue_color;
                            }
                        }
                    }
                }
            }
            &__button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: calc(100% - 64px);
                background-color: $blue_color;
                border: 1px solid $blue_color;
                height: 47px;
                box-sizing: border-box;
                margin: 24px 32px 0 32px; 
                .pay-btn {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    color: $white;
                    text-decoration: none;
                }
                &:hover {
                    background-color: $white;
                    .pay-btn {
                        color: $blue_color;
                    }
                }
            }
        }
    }
}

@media (max-width: 760px) {
    .cart_step_one_container {
        flex-direction: column;
        margin-bottom: 24px;
        &__left {
            flex-direction: column;
            margin-right: 0;
            width: 100%;
            .upload_logo_notes_container {
                flex-direction: column;
                align-items: flex-start;
                padding: 15px;
                &__left {
                    width: 100%;
                    margin-right: 0;
                    .upload-area {
                        width: 100%;
                        height: auto;
                        padding: 10px 0;
                    }
                }
                &__right {
                    width: 100%;
                    .title {
                        margin-top: 15px;
                    }
                    .text-area {
                        width: 100%;
                        textarea {
                            font-size: 14px;
                            line-height: 160%;
                            width: 100%;
                            height: auto;
                            max-width: 740px;
                        }
                    }
                }
            }
        }
        &__right {
            .cart_pay_box {
                width: 100%;
                margin-top: 24px;
                &__top {
                    &-slot {
                        &--left {
                            p {
                                font-size: 14px;
                                line-height: 160%;
                            }
                        }
                        &--right {
                            p {
                                font-size: 14px;
                                line-height: 160%;
                            }
                        }
                    }
                }
                &__bottom {
                    &-slot {
                        &--left {
                            p {
                                font-size: 14px;
                                line-height: 160%;
                            }
                        }
                        &--right {
                            p {
                                font-size: 14px;
                                line-height: 160%;
                                span {
                                    font-size: 19px;
                                }
                            }
                        }
                    }
                }
                &__button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: calc(100% - 64px);
                    background-color: $blue_color;
                    border: 1px solid $blue_color;
                    height: 47px;
                    box-sizing: border-box;
                    margin: 24px 32px 0 32px; 
                    .pay-btn {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 100%;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        color: $white;
                        text-decoration: none;
                    }
                    &:hover {
                        background-color: $white;
                        .pay-btn {
                            color: $blue_color;
                        }
                    }
                }
            }
        }
    }
}