.cart_pay_box {
    width: 457px;
    height: auto;
    border: 1px solid $grey_light;
    background-color: $grey_light3;
    padding: 32px 0;
    box-sizing: border-box;
    &__top {
        padding-bottom: 14px;
        &-slot {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0 32px;
            &--left {
                p {
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    color: $light_black;
                    margin: 0 0 14px 0;
                }
            }
            &--right {
                p {
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    color: $light_black;
                    margin: 0 0 14px 0;
                }
            }
        }
    }
    &__bottom {
        border-top: 1px solid $grey_light;
        padding-top: 32px;
        &-slot {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0 32px;
            &--left {
                p {
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    color: $light_black;
                    margin: 0 0 14px 0;
                }
            }
            &--right {
                p {
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    color: $light_black;
                    margin: 0 0 14px 0;
                    span {
                        font-size: 32px;
                        font-weight: 700;
                        color: $blue_color;
                    }
                }
            }
        }
    }
    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(100% - 64px);
        background-color: $blue_color;
        border: 1px solid $blue_color;
        height: 47px;
        box-sizing: border-box;
        margin: 24px 32px 0 32px; 
        .pay-btn {
            font-family: 'Poppins', sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            color: $white;
            text-decoration: none;
            border: 0;
            cursor: pointer;
            background-color: $blue_color;
        }
        &:hover {
            background-color: $white;
            .pay-btn {
                background-color: $white;
                color: $blue_color;
            }
        }
    }
}

@media (max-width: 760px) {
    .cart_pay_box {
        width: 100%;
        margin-top: 24px;
        &__top {
            &-slot {
                &--left {
                    p {
                        font-size: 14px;
                        line-height: 160%;
                    }
                }
                &--right {
                    p {
                        font-size: 14px;
                        line-height: 160%;
                    }
                }
            }
        }
        &__bottom {
            &-slot {
                &--left {
                    p {
                        font-size: 14px;
                        line-height: 160%;
                    }
                }
                &--right {
                    p {
                        font-size: 14px;
                        line-height: 160%;
                        span {
                            font-size: 19px;
                        }
                    }
                }
            }
        }
        &__button {
            display: flex;
            align-items: center;
            justify-content: center;
            width: calc(100% - 64px);
            background-color: $blue_color;
            border: 1px solid $blue_color;
            height: 47px;
            box-sizing: border-box;
            margin: 24px 32px 0 32px; 
            .pay-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                color: $white;
                text-decoration: none;
            }
            &:hover {
                background-color: $white;
                .pay-btn {
                    color: $blue_color;
                }
            }
        }
    }
}