.cart_step_two_without_account_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    &--button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 101px;
        height: 44px;
        box-sizing: border-box;
        border: 1px solid $light_black;
        margin: 32px 0 126px 0;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            font-weight: 400;
            line-height: normal;
            color: $light_black;
            text-decoration: none;
            width: 100%;
            height: 100%;
        }
        &:hover {
            background-color: $blue_color;
            border: 1px solid $blue_color;
            a {
                color: $white
            }
        }
    }
    &--left {
        margin-right: 23px;
        .cart_without_account {
            &__box {
                display: flex;
                flex-direction: column;
                padding: 32px;
                border: 1px solid $grey_light;
                width: 1096px;
                box-sizing: border-box;
                &--left,
                &--right {
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;
                    .title {
                        font-size: 22px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        color: $light_black;
                        width: 100%;
                        text-transform: none;
                        margin: 0 0 18px 0;
                    }
                    .input-slot {
                        width: calc(50% - 17px);
                        margin-right: 34px;
                        &:nth-of-type(2n) {
                            margin-right: 0;
                        }
                        &.with-btn {
                            flex-wrap: wrap;
                            input {
                                display: inline;
                                width: 55% !important;
                            }
                            .gus_btn {
                                display: inline-flex;
                                width: 43% !important;
                                border: 1px solid $blue_color;
                                background: $grey_light3;
                                box-sizing: border-box;
                                justify-content: center;
                                align-items: center;
                                height: 45px;
                                margin-left: 1%;
                                a,
                                button {
                                    font-family: 'Poppins', sans-serif;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    width: 100%;
                                    height: 100%;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: normal;
                                    color: $light_black;
                                    text-align: center;
                                    text-decoration: none;
                                    border: 0;
                                    cursor: pointer;
                                }
                                &:hover {
                                    background-color: $blue_color;
                                    a {
                                        color: $white;
                                    }
                                    button {
                                        background-color: $blue_color;
                                        color: $white;
                                    }
                                }
                            }
                        }
                        &.checkbox-slot {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: flex-start;
                        }
                        label:not(.checkbox) {
                            display: block;
                            font-size: 18px;
                            font-weight: 400;
                            line-height: normal;
                            color: $light_black;
                            margin-bottom: 16px;
                            width: 100%;
                        }
                        label.checkbox {
                            margin-left: 16px;
                            user-select: none;
                            cursor: pointer;
                            margin: 24px 16px;
                        }
                        input[type=checkbox] {
                            width: 24px;
                            height: 24px;
                            box-sizing: border-box;
                            border: 1px solid $grey_light;
                            background: $grey_light3;
                            cursor: pointer;
                        }
                        input:not([type=checkbox]) {
                            border: 1px solid $grey_light;
                            background: $grey_light3;
                            width: 100%;
                            height: 45px;
                            box-sizing: border-box;
                            font-size: 18px;
                            margin-bottom: 16px;
                            padding: 0 12px;
                            &:hover,
                            &:focus {
                                outline: 1px solid $blue_color;
                            }
                        }
                    }
                }
            }
            &__button {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 101px;
                height: 44px;
                box-sizing: border-box;
                border: 1px solid $light_black;
                margin: 32px 0 126px 0;
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: normal;
                    color: $light_black;
                    text-decoration: none;
                    width: 100%;
                    height: 100%;
                }
                &:hover {
                    background-color: $blue_color;
                    border: 1px solid $blue_color;
                    a {
                        color: $white
                    }
                }
            }
        }
    }
}

@media (max-width: 1576px) {
    .cart_step_two_without_account_container {
        &--left {
            margin-right: 0;
            .cart_without_account {
                &__box {
                    margin-bottom: 24px;
                    padding: 15px;
                    width: 100%;
                    &--left,
                    &--right {
                        .input-slot {
                            width: 48%;
                        }
                    }
                }
            }
        }
        &--right {
            width: 100%;
            .cart_pay_box {
                margin-bottom: 24px;
            }
        }
        &--button {
            margin-top: 0;
        }
    }
}

@media (max-width: 960px) {
    .cart_step_two_without_account_container {
        flex-direction: column;
        &--left {
            .cart_without_account {
                &__box {
                    &--left,
                    &--right {
                        .title {
                            font-size: 19px;
                        }
                        .input-slot {
                            width: 100%;
                            margin-right: 0;
                            &.with-btn {
                                input {
                                    width: 100% !important;
                                }
                                .gus_btn {
                                    width: 100% !important;
                                    margin-left: 0;
                                    margin-bottom: 10px;
                                    a {
                                        font-size: 14px;
                                        line-height: 160%;
                                    }
                                }
                            }
                            label {
                                font-size: 14px;
                                line-height: 160%;
                            }
                            label:not(.checkbox) {
                                font-size: 14px;
                                line-height: 160%;
                            }
                            label.checkbox {
                                margin: 6px 16px;
                            }
                            input[type=checkbox] {
                                width: auto;
                                height: auto;
                            }
                        }
                    }
                }
            }
        }
        &--right {
            .cart_pay_box {
                margin: 0;
            }
        }
        &--button {
            margin-top: 24px;
        }
    }
}