.products_card_gallery_open {
    display: flex;
    flex-direction: row;
    margin-left: 46px;
    &--details {
        .title {
            font-size: 24px;
            font-weight: 600;
            line-height: normal;
            text-transform: uppercase;
            color: $title_black;
            margin-top: 0;
        }
        .details_desc_container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-bottom: 1px solid $grey_light;
            padding-bottom: 22px;
            &-column {
                display: flex;
                flex-direction: column;
                &--logo {
                    width: 113px;
                    height: 64px;
                    img {
                        width: 113px;
                        height: 64px;
                        object-fit: contain;
                    }
                }
                &--text {
                    &.available {
                        margin-top: 24px;
                    }
                    p {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: normal;
                        color: $light_black;
                        margin: 7px 0;
                        .green-text {
                            font-weight: 700;
                            color: $green;
                        }
                    }
                    &.grey {
                        cursor: pointer;
                        p {
                            margin: 10px 0;
                            font-size: 14px;
                            color: $grey_middle_light;
                            svg {
                                margin-right: 12px;
                            }
                        }
                    }
                }
                &--rating {
                    p {
                        display: inline-flex;
                        align-items: center;
                        margin: 7px 0;
                        img {
                            margin-left: 10px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        .price_cart_btn__container {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 20px 0 10px 0;
            &--price {
                p {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: normal;
                    color: $light_black;
                    margin: 14px 0;
                    .blue-price {
                        font-size: 38px;
                        line-height: 40px;
                        font-weight: 700;
                        color: $blue_color;
                    }
                }
            }
            &--input {
                input {
                    font-family: 'Poppins', sans-serif;
                    width: 80px;
                    height: 44px;
                    border: 1px solid $grey_light;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: normal;
                    color: $light_black;
                    padding: 0 9px;
                    box-sizing: border-box;
                    margin: 0 16px;
                    &:focus,
                    &:active {
                        outline: 0;
                    }
                    &::-webkit-inner-spin-button, 
                    &::-webkit-outer-spin-button {
                        opacity: 1;
                    }
                }
            }
            &--btn {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                width: 172px;
                height: 44px;
                box-sizing: border-box;
                border: 1px solid $blue_color;
                background-color: $blue_color;
                a {
                    position: relative;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    font-size: 18px;
                    font-weight: 400;
                    line-height: normal;
                    color: $light_black;
                    padding-left: 24px;
                    color: $white;
                    &::after {
                        position: absolute;
                        display: block;
                        content: "";
                        top: 12px;
                        right: 16px;
                        background: url("./../assets/icons/products_block/more_plus_white.svg");
                        height: 18px;
                        width: 18px;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                }
                &:hover {
                    background-color: $white; 
                    a {
                        color: $blue_color;
                        text-decoration: none;
                        &::after {
                            position: absolute;
                            display: block;
                            content: "";
                            top: 12px;
                            right: 16px;
                            background: url("./../assets/icons/products_block/more_plus.svg");
                            height: 18px;
                            width: 18px;
                            background-size: cover;
                            background-repeat: no-repeat;
                        }
                    }
                }
            }
        }
        .colors_container {
            display: flex;
            flex-direction: column;
            .actual_color {
                display: inline-flex;
                align-items: center;
                width: 100%;
                .color_square {
                    width: 15px;
                    height: 15px;
                    border: 1px solid #D3D3D3;
                    box-sizing: border-box;
                    margin: 0 10px;
                    cursor: pointer;
                    .color_name {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 227%;
                        color: $light_black;
                    }
                    &.white {
                        background-color: $white;
                    }
                    &.darkblue {
                        border: 1px solid #020054;
                        background-color: #020054;
                    }
                    &.red {
                        border: 1px solid #FF0000;
                        background-color: #FF0000;
                    }
                    &.yellow {
                        border: 1px solid #FFC700;
                        background-color: #FFC700;
                    }
                    &.green {
                        border: 1px solid #64C14D;
                        background-color: #64C14D;
                    }
                    &.purple {
                        border: 1px solid #5945A9;
                        background-color: #5945A9;
                    }
                    &.brown {
                        border: 1px solid #674C4C;
                        background-color: #674C4C;
                    }
                    &.yellow2 {
                        border: 1px solid #FFDA58;
                        background-color: #FFDA58;
                    }
                }
            }
        }
        .colors_options {
            display: inline-flex;
            margin: 10px 0;
            .color_square {
                width: 15px;
                height: 15px;
                border: 1px solid #D3D3D3;
                box-sizing: border-box;
                margin-right: 3px;
                cursor: pointer;
                &.white {
                    background-color: $white;
                }
                &.darkblue {
                    border: 1px solid #020054;
                    background-color: #020054;
                }
                &.red {
                    border: 1px solid #FF0000;
                    background-color: #FF0000;
                }
                &.yellow {
                    border: 1px solid #FFC700;
                    background-color: #FFC700;
                }
                &.green {
                    border: 1px solid #64C14D;
                    background-color: #64C14D;
                }
                &.purple {
                    border: 1px solid #5945A9;
                    background-color: #5945A9;
                }
                &.brown {
                    border: 1px solid #674C4C;
                    background-color: #674C4C;
                }
                &.yellow2 {
                    border: 1px solid #FFDA58;
                    background-color: #FFDA58;
                }
            }
        }
    }
}

@media (max-width: 760px) {
    .products_card_gallery_open {
        margin-left: 0;
        flex-direction: column;
        &--details {
            .title {
                margin-top: 10px;
                font-size: 20px;
            }
            .details_desc_container {
                flex-direction: column;
                &-column {
                    .available {
                        margin-top: 0;
                    }
                }
            }
            .price_cart_btn__container {
                flex-wrap: wrap;
                &--price {
                    width: 75%;
                }
                &--input {
                    width: 25%;
                    input {
                        text-align: center;
                        margin: 0;
                        width: 100%;
                    }
                }
                &--btn {
                    width: 100%;
                    margin-top: 15px;
                }
            }
            .colors_container {
                align-items: center;
                margin-bottom: 15px;
                .actual_color {
                    justify-content: center;
                    margin: 15px 0;
                }
            }
        }
    }
}