.products_card_description_client {
    margin-left: 46px;
    .desc_container {
        margin-bottom: 40px;
        .desc_title_box {
            width: 100%;
            border-bottom: 1px solid $blue_color;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &--title {
                font-size: 18px;
                font-weight: 700;
                line-height: normal;
                text-transform: uppercase;
                color: $light_black;
                span {
                    color: $grey_middle;
                    font-size: 16px;
                    font-weight: 400;
                    text-transform: lowercase;
                }
            }
            &--expand {
                position: relative;
                font-size: 12px;
                font-weight: 400;
                line-height: normal;
                text-decoration-line: underline;
                color: $light_black;
                cursor: pointer;
                margin: 0;
                &::before {
                    position: absolute;
                    display: block;
                    content: "";
                    top: 2px;
                    left: -28px;
                    background: url("./../assets/icons/products_block/more_plus.svg");
                    height: 14px;
                    width: 14px;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
            }
        }
        p {
            .bold_green {
                font-weight: 700;
                color: $green;
            }
            &.high_mb {
                margin-bottom: 40px;
            }
        }
        .desc_container__products_box {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 8px 40px;
            border: 1px solid $grey_light;
            margin: 37px 0 21px 0;
            &--img {
                padding: 8px;
                img {
                    height: 76px;
                    width: auto;
                }
            }
            &--text {
                margin-left: 53px;
                p {
                    font-size: 18px;
                    font-weight: 400;
                    line-height: normal;
                    color: $title_black;
                }
            }
        }
        .desc_text_inputs_boxes {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            &__slot {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                width: 48.5%;
                height: 45px;
                box-sizing: border-box;
                border: 1px solid $grey_light;
                background-color: $grey_light2;
                margin-bottom: 17px;
                margin-right: 1.5%;
                &:nth-of-type(2n) {
                    margin-right: 0;
                }
                &.empty {
                    background-color: unset;
                    border: 0;
                }
                &--text {
                    width: 70%;
                    p {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: normal;
                        color: $light_black;
                        padding: 0 28px;
                    }
                }
                &--input {
                    width: 30%;
                    input {
                        width: 100%;
                        font-family: 'Poppins', sans-serif;
                        border: 0;
                        height: 45px;
                        background-color: $grey_light2;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: normal;
                        color: $light_black;
                        padding: 0 28px;
                        border: 1px solid $grey_light;
                        box-sizing: border-box;
                        &::-webkit-inner-spin-button, 
                        &::-webkit-outer-spin-button {
                            opacity: 1;
                        }
                        &:hover,
                        &:focus {
                            outline: 0;
                        }
                    }
                }
                &--select {
                    width: 55%;
                    select {
                        cursor: pointer;
                        width: 100%;
                        font-family: 'Poppins', sans-serif;
                        border: 0;
                        height: 45px;
                        background-color: $grey_light2;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: normal;
                        color: $light_black;
                        padding: 0 28px;
                        border: 1px solid $grey_light;
                        box-sizing: border-box;
                        &::-webkit-inner-spin-button, 
                        &::-webkit-outer-spin-button {
                            opacity: 1;
                        }
                        &:hover,
                        &:focus {
                            outline: 0;
                        }
                    }
                }
                .download_button {
                    padding: 2px 20px;
                    border: 1px solid $blue_color;
                    cursor: pointer;
                    a {
                        position: relative;
                        font-size: 12px;
                        font-weight: 600;
                        line-height: normal;
                        text-transform: uppercase;
                        color: $blue_color;
                        text-decoration: none;
                        margin: 0;
                        &::after {
                            display: inline-block;
                            content: '';
                            width: 15px;
                            height: 11px;
                            background: url('./../assets/icons/products_card/download.svg');
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: contain;
                            margin-left: 10px;
                        }
                    }
                    &:hover {
                        background-color: $blue_color;
                        a {
                            color: $white;
                            &::after {
                                background: url('./../assets/icons/products_card/download_white.svg');
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: contain;
                            }
                        }
                    }
                }
            }
        }
        .desc_cart_prices_text {
            &--slot {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                &.two-slots {
                    justify-content: space-between;
                    &.margin {
                        margin: 8px 0;
                        padding-top: 18px;
                        border-top: 1px solid $grey_light;
                    }
                    .slot-one {
                        p {
                            font-size: 16px;
                            font-weight: 400;
                            color: $light_black;
                            span {
                                font-weight: 700;
                                color: $blue_color;
                                font-size: 16px;
                            }
                        }
                        .download_button {
                            padding: 2px 20px;
                            border: 1px solid $blue_color;
                            cursor: pointer;
                            a {
                                position: relative;
                                font-size: 14px;
                                font-weight: 600;
                                line-height: normal;
                                text-transform: uppercase;
                                color: $blue_color;
                                text-decoration: none;
                                margin: 0;
                                &::after {
                                    display: inline-block;
                                    content: '';
                                    width: 15px;
                                    height: 11px;
                                    background: url('./../assets/icons/products_card/download.svg');
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    background-size: contain;
                                    margin-left: 10px;
                                }
                            }
                            &:hover {
                                background-color: $blue_color;
                                a {
                                    color: $white;
                                    &::after {
                                        background: url('./../assets/icons/products_card/download_white.svg');
                                        background-position: center;
                                        background-repeat: no-repeat;
                                        background-size: contain;
                                    }
                                }
                            }
                        }
                    }
                    .slot-two {
                        &.summary {
                            p {
                                font-size: 16px;
                                font-weight: 500;
                                color: $light_black;
                                span {
                                    font-size: 22px;
                                    font-weight: 700;
                                    color: $blue_color;
                                }
                            }
                        }
                    }
                }
                p.text {
                    font-size: 14px;
                    font-weight: 400;
                    color: $light_black;
                    margin: 0;
                }
                .add_to_cart_button {
                    display: flex;
                    align-items: flex-end;
                    width: 172px;
                    height: 44px;
                    box-sizing: border-box;
                    background-color: $blue_color; 
                    border: 1px solid $blue_color;
                    margin: 10px 0 80px auto;
                    a {
                        position: relative;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: normal;
                        color: $white;
                        padding-left: 24px;
                        text-decoration: none;
                        &::after {
                            position: absolute;
                            display: block;
                            content: "";
                            top: 12px;
                            right: 16px;
                            background: url("./../assets/icons/products_block/more_plus_white.svg");
                            height: 18px;
                            width: 18px;
                            background-size: cover;
                            background-repeat: no-repeat;
                        }
                    }
                    &:hover {
                        background-color: $white; 
                        border: 1px solid $light_black;
                        a {
                            color: $light_black;
                            &::after {
                                background: url("./../assets/icons/products_block/more_plus.svg");
                                height: 18px;
                                width: 18px;
                                background-size: cover;
                                background-repeat: no-repeat;
                            }
                        }
                    }
                }
            }
        }
        .opinions_container {
            &_box {
                &--slot {
                    padding: 33px 22px;
                    border-bottom: 1px solid $grey_light;
                    .opinions_slot_author {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        &--name {
                            p {
                                margin-right: 40px;
                                font-size: 16px;
                                font-weight: 700;
                            }
                        }
                        &--stars {
                            img {
                                margin-right: 32px;
                            }
                        }
                        &--data {
                            p {
                                font-size: 16px;
                                font-weight: 400;
                                color: $grey_middle;
                            }
                        }
                    }
                    .opinions_slot_content {
                        p {
                            margin: 0;
                        }
                    }
                }
                &--slot_new_opinion {
                    padding: 15px 22px;
                    .opinions_slot_title {
                        p {
                            font-size: 16px;
                            font-weight: 700;
                        }
                    }
                    .opinions_slot_stars {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;
                        p {
                            font-weight: 400;
                            margin: 0;
                        }
                        .stars {
                            margin-left: 10px;
                            cursor: pointer;
                        }
                    }
                    .opinions_slot_name,
                    .opinions_slot_opinion {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        label {
                            margin-top: 16px;
                            margin-bottom: 8px;
                        }
                        textarea,
                        input {
                            font-family: 'Poppins', sans-serif;
                            border: 1px solid $grey_light;
                            width: 100%;
                            height: 48px;
                            font-size: 14px;
                            &:focus,
                            &:hover {
                                outline: 1px solid $blue_color;
                            }
                        }
                        textarea {
                            height: 113px;
                            margin-bottom: 22px;
                        }
                    }
                    .opinions_slot_send_btn_captcha_container {
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-end;
                        align-items: flex-start;
                        margin-bottom: 180px;
                        .captcha_send {
                            margin-right: 21px;
                        }
                        .send_btn {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 101px;
                            height: 44px;
                            box-sizing: border-box;
                            border: 1px solid $light_black;
                            a {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: normal;
                                color: $light_black;
                                text-decoration: none;
                                width: 100%;
                                height: 100%;
                            }
                            &:hover {
                                background-color: $blue_color;
                                border: 1px solid $blue_color;
                                a {
                                    color: $white
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 960px) {
    .products_card_description_client {
        margin-left: 0;
        .desc_container {
            p {
                font-size: 16px;
                line-height: 160%;
            }
            .desc_container__products_box {
                &--text {
                    p {
                        font-size: 16px;
                        line-height: 160%;
                    }
                }
            }
            .desc_text_inputs_boxes {
                &__slot {
                    flex-direction: column;
                    width: 100%;
                    margin-right: 0;
                    height: auto;
                    &.empty {
                        display: none;
                    }
                    &--text {
                        width: 100%;
                    }
                    &--input {
                        width: 100%;
                        input {
                            width: 100%;
                            border-left: 0;
                            border-right: 0;
                            border-bottom: 0;
                        }
                    }
                    &--select {
                        width: 100%;
                        select {
                            width: 100%;
                            border-left: 0;
                            border-right: 0;
                            border-bottom: 0;
                        }
                    }
                }
            }
            .desc_cart_prices_text {
                &--slot {
                    &.two-slots {
                        flex-direction: column;
                        align-items: flex-end;
                    }
                    .slot-one {
                        .download_button {
                            margin-bottom: 15px;
                        }
                    }
                }
            }
            .opinions_container {
                &_box {
                    &--slot,
                    &--slot_new_opinion {
                        padding: 20px 0;
                    }
                    &--slot_new_opinion { 
                        .opinions_slot_title {
                            width: 100%;
                            input, 
                            textarea {
                                width: 98%;
                            }
                        }
                        .opinions_slot_send_btn_captcha_container {
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }
    } 
}