#proces-zamawiania {
  position: relative;
  margin-top: 0;
  background-color: $blue_color;
  padding: 45px 0 40px;
  .mainpage-title {
    color: $white;
  }
  &::before {
    position: absolute;
    display: block;
    content: "";
    width: 200vw;
    left: -50vw;
    top: 0;
    height: 100%;
    background-color: $blue_color;
    z-index: -1;
  }
  .order-process_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    margin: 80px 0 40px;
    @media (max-width: 760px) {
      flex-direction: column;
      align-items: center;
      margin: 24px 0;
    }
    &__arrow {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      margin-top: 16px;
      @media (max-width: 760px) {
        transform: rotate(90deg);
        img {
          width: 64px;
          height: auto;
        }
      }
    }
    &__slot {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: calc(18% - 32px);
      @media (max-width: 1200px) {
        width: 31%;
      }
      &--img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 120px;
        border-radius: 100%;
        background-color: $white;
        margin-bottom: 4px;
        @media (max-width: 760px) {
          width: 90px;
          height: 90px;
        }
        img {
          width: 64px;
          height: 64px;
          @media (max-width: 760px) {
            height: 40px;
            width: 40px;
          }
        }
      }
      &--title {
        p {
          font-size: 32px;
          line-height: 48px;
          font-weight: 700;
          color: $white;
          margin: 16px auto 0;
          @media (max-width: 760px) {
            font-size: 19px;
            line-height: 24px;
          }
        }
      }
      &--text {
        p {
          font-size: 16px;
          line-height: 26px;
          font-weight: 400;
          color: $white;
          margin: 16px auto 0;
          @media (max-width: 760px) {
            font-size: 14px;
            line-height: 19px;
          }
        }
      }
    }
  }
}

@media (max-width: 760px) {
}
