#sekcja-seo {
  margin-bottom: 0;
  margin-top: 0;
  @media (max-width: 860px) {
    margin: 0 !important;
  }
  .seo-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    margin-bottom: 50px;
    @media (max-width: 860px) {
      flex-direction: column;
      justify-content: center;
      gap: 24px;
    }
    &:last-of-type {
      margin-bottom: 0;
    }
    &__text {
      width: 60%;
      height: auto;
      @media (max-width: 860px) {
        width: 100%;
        order: 1;
      }
      h2 {
        font-size: 32px;
        line-height: 48px;
        font-weight: 700;
        color: #171a1fff;
        @media (max-width: 860px) {
          font-size: 24px;
          line-height: 32px;
        }
      }
      p {
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
        color: #171a1fff;
      }
      h3 {
        font-size: 18px;
        line-height: 28px;
        font-weight: 700;
        color: #171a1fff;
      }
    }
    &__img {
      width: 40%;
      height: auto;
      @media (max-width: 860px) {
        width: 100%;
        order: 2;
      }
      img {
        object-fit: cover;
        width: 100%;
        height: auto;
      }
    }
  }
}
