#zaufali-nam {
  overflow: hidden;
  margin: 40px auto 0;
  #trust-us-swiper {
    margin: 52px 0 24px;
  }
  @media (max-width: 760px) {
    margin: 16px auto 0;
    #trust-us-swiper {
      margin: 16px 0;
    }
  }
  .trust-us-swiper {
    position: relative;
    .swiper-slide {
      .trust-us-swiper-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        margin: 0 6px;
        &:hover {
          .trust-us-swiper-text-box {
            span {
              color: $blue_color;
            }
          }
        }
        .trust-us-swiper-icon-box {
          img {
            object-fit: contain;
            width: 70px;
            height: 70px;
            @media (max-width: 760px) {
              width: 48px;
              height: 48px;
            }
          }
        }
        .trust-us-swiper-text-box {
          text-align: center;
          font-size: 16px;
          line-height: 19px;
          span {
            font-size: 16px;
            line-height: 19px;
            font-weight: 400;
            color: #171a1fff;
            text-align: center;
          }
          @media (max-width: 760px) {
            font-size: 14px;
            line-height: 17px;
            span {
              font-size: 14px;
              line-height: 17px;
            }
          }
        }
      }
    }
    .swiper-button-next {
      position: absolute;
      width: 24px;
      height: 24px;
      background-image: url("./../assets/icons/category_swiper/arrow-right.jpg");
      background-size: contain;
      display: block;
      background-repeat: no-repeat;
      background-position: center center;
      top: calc(50% + 6px);
      right: -2px;
      z-index: 1;
      padding: 4px;
      @media (max-width: 760px) {
        top: calc(50% + 12px);
        padding: 0;
        right: 0;
      }
      &::after {
        display: none;
      }
    }
    .swiper-button-prev {
      position: absolute;
      width: 24px;
      height: 24px;
      background-image: url("./../assets/icons/category_swiper/arrow-left.jpg");
      background-size: contain;
      display: block;
      background-repeat: no-repeat;
      background-position: center center;
      top: calc(50% + 6px);
      left: -2px;
      z-index: 1;
      padding: 4px;
      @media (max-width: 760px) {
        top: calc(50% + 12px);
        padding: 0;
        left: 0;
      }
      &::after {
        display: none;
      }
    }
  }
}
