.clients_panel_addresses_content {
    display: flex;
    flex-direction: row;
    &__left {
        h1.title {
            font-size: 24px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: uppercase;
            color: $title_black;
            margin-bottom: 32px;
        }
    }
    &__right {

    } 
}